<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>WebControle.Servlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Admin/Fornecedor</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Admin/ClienteOperacao</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Admin/EmprestimoOperacao</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Admin/TelaLoginAdminOperacao</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Admin/FormLivro</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Admin/ConsultaLivro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Admin/ConsultaCliente</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Admin/CadastroLivro</url-pattern>
  </servlet-mapping>   
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Admin/LivroOperacao</url-pattern>
  </servlet-mapping>  
   <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Admin/TelaLoginAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Admin/FormClienteAdmin</url-pattern>
  </servlet-mapping>  
   <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Admin/PedidosAdmin</url-pattern>
  </servlet-mapping>    
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Loja/TelaLogin</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Loja/TelaLogin2</url-pattern>
  </servlet-mapping> 
   <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Loja/ClienteOperacao</url-pattern>
  </servlet-mapping>  
   <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Loja/VPedido</url-pattern>
  </servlet-mapping>    
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Loja/TelaLoginOperacao</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Loja/Carrinho</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Loja/Loja</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Loja/LojaOperacao</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Loja/LivroInformacoesOperacao</url-pattern>
  </servlet-mapping>   
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Loja/LivroInformacoes</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Loja/CarrinhoOperacaoRetirar</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Loja/FinalizarCompraOperacao</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Loja/FinalizarPedidos</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Loja/Pedidos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Loja/PedidosOperacao</url-pattern>
  </servlet-mapping>      
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Admin/PedidosOperacaoAdmin</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Admin/sair</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Loja/sair</url-pattern>
  </servlet-mapping>  
</web-app>
